/* src/components/HeroSection.css */
.hero-section {
   position: relative;
   height: 100vh;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.hero-background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   z-index: -1;
}

.hero-video {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.hero-content {
   max-width: 800px;
   padding: 20px;
   background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
   border-radius: 10px;
}

.hero-title {
   font-size: 3em;
   margin: 0.5em 0;
   font-weight: bold;
}

.hero-description {
   font-size: 1.25em;
   margin-bottom: 1.5em;
}

.hero-button {
   font-size: 1.2em;
   padding: 0.8em 1.5em;
   background-color: #28a745;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.hero-button:hover {
   background-color: #218838;
}
